<mat-accordion>
   <mat-expansion-panel *ngFor="let item of organizations$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show {{ item.name }} teams:
    </mat-panel-title>
</mat-expansion-panel-header>
<mat-accordion>
  <mat-expansion-panel *ngFor="let teams of item.teams">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show {{ teams.name }} members:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list"
      ><mat-list-item
        role="listitem"
        *ngFor="let avatar of teams.members"
        ><img [src]="avatar.avatarUrl" height="50px" width="50px"></mat-list-item
      ></mat-list
    >
  </mat-expansion-panel>
</mat-accordion>
</mat-expansion-panel>
</mat-accordion>