<mat-card
  ><mat-card-title>Show sorted products</mat-card-title
  ><mat-card-content>
    <mat-list role="list"
      ><mat-list-item
        role="listitem"
        *ngFor="let item of sort$ | async"
        style="text-decoration: underline; cursor: pointer; display: inline-flex;"
        [routerLink]="[]"
        [queryParams]="{ sort: item }"
        >{{ item }}</mat-list-item
      ></mat-list
    ><mat-chip-list aria-label="Fish selection">
      <mat-chip *ngFor="let item of productList$ | async">
        {{ item.title }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content></mat-card
>
