<mat-card *ngIf="paginatorData$ | async as pageData">
    <mat-card-title></mat-card-title>
    <mat-card-content>
        <h1>Select Page's Size</h1>
        <mat-selection-list 
        role="list" 
        fxLayout="row" 
        [multiple]="false" 
        style="display: flex"
        (selectionChange)="choosePageSize($event)">

            <mat-list-option
             role="listitem"
             *ngFor="let item of pageSize$ | async"
             [value]="item"
             [selected]="item === pageData.pageSize"
             >{{item}}</mat-list-option>
        </mat-selection-list>

        <h1>Select Page</h1>
        <mat-selection-list
         role="list"
         fxLayout="row" 
         [multiple]="false" 
         style="display: flex"
         (selectionChange)="choosePage($event)"
        >
            <mat-list-option 
            role="listitem" 
            [value]="item"
            [selected]="item === pageData.pageNumber"
            *ngFor="let item of listPage$ | async"
            >{{item}}</mat-list-option>
        </mat-selection-list>

    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Cities</mat-card-title>
    <mat-card-content>
        <mat-list role="list"><mat-list-item role="listitem" *ngFor="let item of CitiesPerPage$ | async">{{item.name}}</mat-list-item></mat-list>
    </mat-card-content>
</mat-card>